﻿<h3>User List</h3>

<div ng-hide="users != []">
    Retrieving users...
</div>
<div ng-show="users != []">
    <ul class="user-list" ng-repeat='user in users'>
        <li class="user-list-user">
            <a href="/detail/{{user.Id}}">{{user.Username}}</a>
        </li>
    </ul>
</div>