﻿<h3>User Detail</h3>

<div ng-hide="user != null">
    Retrieving user...
</div>
<div ng-show="user != null">
    <h4>{{user.Username}}</h4>
    <ul>
        <li>Id: {{user.Id}}</li>
        <li>Username: {{user.Username}}</li>
        <li>PasswordHash: {{user.PasswordHash}}</li>
        <li>CreateDate: {{user.CreateDate}}</li>
    </ul>
</div>